.NavBar {
    display: flex;
    max-width: 100%;
    margin: 30px;
    align-items: center;
}


ul {
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
    flex: 1;
    margin-bottom: 0px;
}

ul li {
    display: inline-block;
    
}

li {
    display: block;
    margin-right: 30px;
    text-align: right;
}

li a {
    text-decoration: none;
    color: #242424;
}

li a:hover {
    color: rgb(24, 149, 233);
    text-decoration: none;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    z-index: 100;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    color: white;
    background-color: #242424;
    top: 0;
    width: 100%;
    transition: all 200ms ease-in;
    padding: 10px 30px;
  }
  
  .sticky a {
      color: white;
  }
  
  .sticky #navbar {
      margin: 50px;
  }
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }  

.btn {
    border-radius: 50px;
    color: white;
    border: 1px solid rgb(24, 149, 233);
    background-color: rgb(24, 149, 233);
}

.btn:hover {
    transition: all 200ms ease-out;
    background-color: white;
    color: black;
    border: 1px solid rgb(24, 149, 233);
}

.form-control {
    border-radius: 50px;
    margin-left: 50px;
}

.form-control:hover {
    border: 1px solid rgb(24, 149, 233);
}